*{
    margin:0;
    padding:0;

}
  body{
      background-color:  rgb(72, 197, 235);
      background-position: center;
      background-size: cover;
      font-family: Verdana;
      margin-top: 30px;
  }

.register{
    width:800px;
    background-color: rgb(0,0,0,0.6);
    margin:auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main{
    background-color: rgb(0,0,0,0.5);
    width:800px;
    margin: auto;
}

form{
    padding:10px;

}
#name{
    width:100%;
    height:auto;
}

.name{
    margin-left: 25px;
    margin-top: 20px;
    width: 125px;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.txt_name{
    position: relative;
    left: 150px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
/* 
.firstname{
    position: relative;
    left: 150px;
    top: -37px;
    line-height: 40px;
    border-radius:6px;
    padding: 0 22px;
    font-size:16px;
    color:#555;
}
.lastname{
    position: relative;
    left: 380px;
    top: -80px;
    line-height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.firstlabel1{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 160px;
    top: -45px;
}
.lastlabel1{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 470px;
    top: -75px;
} */

.address{
    position: relative;
    left: 150px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.email{
    position: relative;
    left: 150px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.link{
    position: relative;
    left:  150px;
    top: -37px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    
}

 .organiser{
    position: relative;
    color: #181717;
    text-transform: capitalize;
    font-size: 20px;
    left: 25px;
    top:5px;
} 

.org_name{
    position: relative;
    left:  150px;
    top: -45px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
.supporter{
    position: relative;
    left:  150px;
    top: -40px;
    line-height: 40px;
    width: 532px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}

.approval{
    height: 20px;
    width: 450px;
    margin-left: 25px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}
.radio{
    display: inline-block;
    padding-right: 70px;
    font-size:20px;
    margin-left: 25px;
    margin-top: 15px;
    color:white;
}

.radio input{
    width:10px;
    height:10px;
    border-radius:50%;
    cursor: pointer;
    outline:none;
}

.info{
    position: relative;
    left: 250px;
    top: -37px;
    line-height: 40px;
    width: 350px;
    /* border-radius: 6px; */
    padding: 0 22px;
    font-size: 16px;
    color: #555;
}
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align:center;
    border-radius:12px;
    border:2px solid #0896c5;
    padding:14px 110px;
    outline:none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    position: relative;
   left: 200px;

}
button:hover{
    background-color: rgb(245, 83, 83);
}
.footer{
    width:800px;
    background-color: rgb(0,0,0,0.6);
    margin:auto;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
}

