<!DOCTYPE html>
<html lang="en">
<head>
<title>Sign Up</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}


{% block content %}
{% load static %}
<!--===============================================================================================-->	
<!-- <link rel="icon" type="image/png" href=""/> -->
<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />

<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}" />
<!--===============================================================================================-->

<!--===============================================================================================-->
<!-- <link rel="stylesheet" type="text/css" href="css/util.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
<!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<!--===============================================================================================-->
</head>
<body>

<div class="limiter">
<div class="container-login100">
<!-- <div class="wrap-login100"> -->
  <!-- <div class="login100-pic js-tilt" data-tilt>
    <img src="images/img-01.png" alt="IMG">
  </div> -->

  <form class="login100-form validate-form" method="post" novalidate>
    <span class="login100-form-title">
      Member Signup
    </span>
        {% csrf_token %}
        {% for field in form %}
        <p>
          <p style="color: grey">{{ field.label_tag }}
          {{ field }}{% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        <br>
      {% endfor %}
      <!-- {{form.as_p}} -->
      <div class="container-login100-form-btn">
        <button type="submit" class="login100-form-btn"   >
          SIGNUP
        </button>
      </div>
    </br>
    <div align="center">
  </form>
  <!-- <div class="text-center p-t-136"> -->
    Already a member?
    <a class="txt2" href="/login/">
      LOGIN
      <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
    </a>
  <!-- </div> -->
<!-- </div> -->
</div>
</div>

</body>
</html>

{% endblock %}